@page "/"
@inject RealEstateService Service

<h1>RealEstates</h1>

<div class="rounded">
    <div class="card-deck">
        <div class="card" style="width: 18rem;height: 40rem;">
            <img class="card-img-top" src="https://i.gyazo.com/aa12d509b2c67f2dbc2bbe8f46b9417d.png" alt="Bild kan ej laddas in">
            <div class="card-body">
                <h5 class="card-title">Fastigheter</h5>
                <p class="card-text">Vi strävar vardagligen efter att alla våra fastigheter ska uppnå så hög kvalitet som möjligt. Vi erbjuder lokaler, lägenheter, hus med mera för antigen till salu eller till uthyrning.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card" style="width: 18rem;height: 40rem;">
            <img class="card-img-top" src="https://www.insidehighered.com/sites/default/server_files/styles/large/public/media/barber%20handshake.jpg?itok=KNWntI29" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Säkerhet & Tryggnad</h5>
                <p class="card-text">Vi förstår att trygghet och säkerhet är viktigt för våra kunder så vi har många säkerhetsåtgärder i våra kontrakt som gör att du ska kunna känna dig trygg i ditt köp utav fastighet.</p>
                <a href="Browse" class="btn btn-primary">Läs våra villkor</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;height: 40rem;">
            <img class="card-img-top" src="https://st.hzcdn.com/simgs/8cd1a1260b3399f5_14-2501/home-design.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Tillgång till extra</h5>
                <p class="card-text">Det finns även möjlighet till garage, lokalhyrande, tvättstuga, med mera.</p>
                <a href="Browse" class="btn btn-primary">Läs våra villkor</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; height: 40rem;">
            <img class="card-img-top" src="http://viunga.se/wp-content/uploads/2019/03/238-1024x724.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Tjänster utöver</h5>
                <p class="card-text">Vi har hyresvärder, kundservice och annat för att hjälpa dig med situationer som kan uppstå med din fastighet.</p>
                <a href="Browse" class="btn btn-primary">Läs våra villkor</a>
            </div>
        </div>
    </div>
</div>

<div>
    @if (RealEstatesArray == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="container">
            <div class="d-flex flex-wrap" style="justify-content: center;">
                @foreach (var objectData in RealEstatesArray)
                {
                    <div class="p-2">
                        <button class="card" onclick="location.href='/counter'" style="width:250px; height: 250px; border: 1px solid #21211f;">
                            <div class="card-body text-dark cards">
                                <h4 class="card-title">@objectData.Title</h4>
                                <p>Can it be purchesed: @objectData.CanBePurchased</p>
                                <p>:Purches Price: @objectData.PurchasePrice</p>
                                <p>Can be rented: @objectData.CanBeRented</p>
                                <p>Rent Price: @objectData.RentingPrice</p>
                            </div>
                        </button>
                    </div>
                }
            </div>
        </div>
    }
</div>

@code {

    private RealEstateModel[] RealEstatesArray;

    protected override async Task OnInitializedAsync()
    {
        RealEstatesArray = await Service.GetRealEstateAsync();
    }
}
